html,
body,
.container {
  height: 90%;
  background: #8F9DB2;
}

.container {
  display: table;
  width: 98%;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  text-align: center;
  vertical-align:middle;
}

h2:first-child {
  margin-top: 0px;
  color: white;
}

.input-group-addon {
  min-width:100px;
  text-align:right;
}

.search-results {
  border:1px solid;
  border-radius:5px;
  background: white;
}

.panel-title {
 color: black;
}

.col-lg-1 {
  width: 12%;
  font-weight: bold;
  padding-right: 0;
}

.col-lg-11 {
  width: 88%;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}