<tab heading="Search File Contents">

  <div class="container">

    <div class="row">

      <div class="col-md-4">

        <div class="panel panel-default option-panel">

          <div class="panel-body">

            <fieldset>

              <legend>Filters</legend>

              <div class="input-group">
                <label class="input-group-addon" for="contents-repo-input">Repository:</label>
                <input type="text" 
                       id="contents-repo-input"
                       class="form-control" 
                       placeholder="..." 
                       ng-model="contentsSearchFilters.repository" 
                       typeahead="suggestion for suggestion in getSuggestionsForField($viewValue, 'repository_suggest', 'file_contents') | filter:$viewValue">
              </div>
              <div class="input-group">
                <label class="input-group-addon" for="contents-branch-input">Branch:</label>
                <input type="text" 
                       id="contents-branch-input"
                       class="form-control" 
                       placeholder="..." 
                       ng-model="contentsSearchFilters.branch" 
                       typeahead="suggestion for suggestion in getSuggestionsForField($viewValue, 'branch_suggest', 'file_contents') | filter:$viewValue">
              </div>

            </fieldset>

          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="panel panel-default option-panel">

          <div class="panel-body option-panel">

            <fieldset>

              <legend>Query</legend>

              <div class="input-group">
                <label class="input-group-addon" for="contents-contents-input">File Contents:</label>
                <input type="text" 
                       id="contents-contents-input"
                       class="form-control" 
                       placeholder="..." 
                       ng-model="fileContentsSearchTemplate.query.filtered.query.simple_query_string.query">
              </div>

              <br>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                      <div class="text-center">
                        <button class="btn btn-primary btn-sm" ng-click="showQuerySyntax()">Show Query Syntax</button>
                      </div>
                  </div>
                </div>
              </div>

            </fieldset>
            
          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="panel panel-default option-panel">

          <div class="panel-body">

            <fieldset>

              <legend>Options</legend>

              <div class="input-group">

                <span class="input-group-addon input-group-addon-contents-filter">Operator:</span>
                <div class="operator-box text-left">
                  <toggle-switch model="contentsUseANDOperator" class="toggle-switch" on-label="AND" off-label="OR"></toggle-switch>
                </div>

              </div>

              <div class="input-group">

                <span class="input-group-addon input-group-addon-contents-filter">Include Designer Files:</span>
                <div class="operator-box text-left">
                  <toggle-switch model="contentsIncludeDesignerFiles" class="toggle-switch" on-label="Yes" off-label="No"></toggle-switch>
                </div>

              </div>

              <div class="input-group">
                <label class="input-group-addon input-group-addon-contents-filter" for="contents-search-res-input"># Search Results:</label>
                <input type="text" id="contents-search-res-input" class="form-control" placeholder="25" ng-model="fileContentsSearchTemplate.size">
              </div>

            </fieldset>

          </div>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12">

        <div style="text-align:center;">
          <button type="button" class="btn btn-primary" ng-click="searchContentsButtonClicked(contentsUseANDOperator, contentsIncludeDesignerFiles)">Search File Contents</button>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12">
        &nbsp;
      </div>

    </div>

  </div>

</tab>
