<!DOCTYPE html>
<html ng-app="codeSearch">

<head>
  <title>Mercurial Code Search</title>

  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/styles/vs.css' />

  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/angular-sanitize.min.js"></script>
  <script src="/javascripts/ui-bootstrap.min.js"></script>
  <script src="/javascripts/angular-highlightjs.min.js"></script>
  <script src="/javascripts/highlight.pack.js"></script>
  <script src="/javascripts/app.js"></script>

</head>

<body ng-controller="CodeSearchController" class="bg-default">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">
              Search Options
            </h3>
          </div>

          <tabset justified="true">

            <tab heading="Search Changesets">

              <div class="container">

                <div class="row">

                  <div class="col-md-4">

                    <div class="panel panel-default">

                      <div class="panel-body">

                        <fieldset>
                          <legend>Filters</legend>
                          <div class="input-group">
                            <span class="input-group-addon">Repository:</span>
                            <input type="text" class="form-control" placeholder="..." ng-model="changesetSearchFilters.repository" typeahead="suggestion for suggestion in getSuggestionsForField($viewValue, 'repository_suggest', 'changesets') | filter:$viewValue">
                          </div>
                          <div class="input-group">
                            <span class="input-group-addon">Branch:</span>
                            <input type="text" class="form-control" placeholder="..." ng-model="changesetSearchFilters.branch" typeahead="suggestion for suggestion in getSuggestionsForField($viewValue, 'branch_suggest', 'changesets') | filter:$viewValue">
                          </div>
                          <div class="input-group">
                            <span class="input-group-addon">Author:</span>
                            <input type="text" class="form-control" placeholder="..." ng-model="changesetSearchFilters.author" typeahead="suggestion for suggestion in getSuggestionsForField($viewValue, 'author_suggest', 'changesets') | filter:$viewValue">
                          </div>
                        </fieldset>

                      </div>

                    </div>

                  </div>

                  <div class="col-md-4">

                    <div class="panel panel-default">

                      <div class="panel-body">

                        <fieldset>

                          <legend>Options</legend>

                          <div class="container-fluid">

                            <div class="row">

                              <div class="col-md-6 text-right">
                                <label>
                                  <input type="radio" name="changesets_operator" checked value="and" ng-model="changesetSearchTemplate.query.filtered.query.bool.must[0].match.message.operator">AND Conditions
                                </label>
                              </div>

                              <div class="col-md-6 text-left">
                                <label>
                                  <input type="radio" name="changesets_operator" value="or" ng-model="changesetSearchTemplate.query.filtered.query.bool.must[0].match.message.operator">OR Conditions
                                </label>
                              </div>

                            </div>

                            <div class="row">
                              &nbsp;
                            </div>

                            <div class="row">

                              <div class="col-md-12">

                                <div class="input-group">
                                  <span class="input-group-addon"># Search Results:</span>
                                  <input type="text" class="form-control" placeholder="25" ng-model="changesetSearchTemplate.size">
                                </div>

                              </div>

                            </div>

                          </div>

                        </fieldset>

                      </div>

                    </div>

                  </div>

                  <div class="col-md-4">

                    <div class="panel panel-default">

                      <div class="panel-body">

                        <fieldset>
                          <legend>Query</legend>
                          <div class="input-group">
                            <span class="input-group-addon bg-info">Message:</span>
                            <input type="text" class="form-control" placeholder="..." ng-model="changesetSearchTemplate.query.filtered.query.bool.must[0].match.message.query">
                          </div>
                        </fieldset>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="row">

                  <div class="col-md-12">
                    <div style="text-align:center;">
                      <button type="button" class="btn btn-default" ng-click="searchChangesetsButtonClicked()">Search Changesets</button>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-12">
                    &nbsp;
                  </div>

                </div>
                
              </div>

            </tab>

            <tab heading="Search File Contents">

              <div class="container">

                <div class="row">

                  <div class="col-md-4">

                    <div class="panel panel-default">

                      <div class="panel-body">

                        <fieldset>

                          <legend>Filters</legend>

                          <div class="input-group">
                            <span class="input-group-addon">Repository:</span>
                            <input type="text" class="form-control" placeholder="..." ng-model="contentsSearchFilters.repository" typeahead="suggestion for suggestion in getSuggestionsForField($viewValue, 'repository_suggest', 'file_contents') | filter:$viewValue">
                          </div>
                          <div class="input-group">
                            <span class="input-group-addon">Branch:</span>
                            <input type="text" class="form-control" placeholder="..." ng-model="contentsSearchFilters.branch" typeahead="suggestion for suggestion in getSuggestionsForField($viewValue, 'branch_suggest', 'file_contents') | filter:$viewValue">
                          </div>

                        </fieldset>

                      </div>

                    </div>

                  </div>

                  <div class="col-md-4">

                    <div class="panel panel-default">

                      <div class="panel-body">

                        <fieldset>

                          <legend>Options</legend>

                          <div class="container-fluid">

                            <div class="row">

                              <div class="col-md-6 text-right">
                                <label>
                                  <input type="radio" name="changesets_operator" checked value="and" ng-model="fileContentsSearchTemplate.query.filtered.query.bool.must[0].match.fragments.operator">AND Conditions
                                </label>
                              </div>

                              <div class="col-md-6 text-left">
                                <label>
                                  <input type="radio" name="changesets_operator" value="or" ng-model="fileContentsSearchTemplate.query.filtered.query.bool.must[0].match.fragments.operator">OR Conditions
                                </label>
                              </div>

                            </div>

                            <div class="row">
                              &nbsp;
                            </div>

                            <div class="row">

                              <div class="col-md-12">

                                <div class="input-group">
                                  <span class="input-group-addon"># Search Results:</span>
                                  <input type="text" class="form-control" placeholder="25" ng-model="fileContentsSearchTemplate.size">
                                </div>

                              </div>

                            </div>

                          </div>

                        </fieldset>

                      </div>

                    </div>

                  </div>

                  <div class="col-md-4">

                    <div class="panel panel-default">

                      <div class="panel-body">

                        <fieldset>

                          <legend>Query</legend>

                          <div class="input-group">
                            <span class="input-group-addon">File Contents:</span>
                            <input type="text" class="form-control" placeholder="..." ng-model="fileContentsSearchTemplate.query.filtered.query.bool.must[0].match.fragments.query">
                          </div>

                        </fieldset>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="row">

                  <div class="col-md-12">

                    <div style="text-align:center;">
                      <button type="button" class="btn btn-default" ng-click="searchContentsButtonClicked()">Search File Contents</button>
                    </div>

                  </div>

                </div>
                
                <div class="row">

                  <div class="col-md-12">
                    &nbsp;
                  </div>

                </div>

              </div>

            </tab>

          </tabset>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">
              Search Results
              <span ng-show="searchResults.totalResults > 0">
                (showing {{searchResults.returnedResults}} of {{searchResults.totalResults}} matches)
              </span>
              <span ng-show="searchResults.totalResults === 0">
                (0 matches)
              </span>
            </h3>
          </div>

          &nbsp;

          <div ng-repeat="hit in searchResults.changesets.hits">

            <div class="container-fluid">

              <div class="row">
                <div class="col-lg-1 text-right">Repository:</div>
                <div class="col-lg-11">
                  <span ng-bind-html="hit._source.repository"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-1 text-right cont-search-res-label">Branch:</div>
                <div class="col-lg-11">
                  <span ng-bind-html="hit._source.branch"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-1 text-right">Author:</div>
                <div class="col-lg-11">
                  <span ng-bind-html="hit._source.author"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-1 text-right">Date/Time:</div>
                <div class="col-lg-11">{{hit._source.changeDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
              </div>
              <div class="row">
                <div class="col-lg-1 text-right">Message:</div>
                <div class="col-lg-11">
                  <p style="white-space: pre-wrap;" ng-bind-html="hit.highlight.message[0]"></p>
                </div>
              </div>
            </div>

            <hr>

          </div>

          <div ng-repeat="hit in searchResults.file_contents.hits">

            <div class="container-fluid">

              <div class="row">
                <div class="col-lg-1 text-right">Repository:</div>
                <div class="col-lg-8">
                  <span ng-bind-html="hit.fields.repository"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-1 text-right">Branch:</div>
                <div class="col-lg-8">
                  <span ng-bind-html="hit.fields.branch"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-1 text-right">File:</div>
                <div class="col-lg-8">
                  <span ng-bind-html="hit.fields.file_name"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div ng-repeat="highlight in hit.highlight.fragments track by $index">
                    <div hljs source="highlight"></div>
                  </div>
                </div>
              </div>

            </div>

            <hr>

          </div>

        </div>

      </div>

    </div>
    
  </div>

</body>

</html>