<!DOCTYPE html>
<html ng-app="codeSearch">

  <head>
    <title>Mercurial Code Search</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-sanitize.min.js"></script>
    <script src="/javascripts/app.js"></script>

  </head>

  <body ng-controller="CodeSearchController" class="bg-default">

    <header class="bg-primary">
      <h2>Mercurial Search</h2>
    </header>

    <div class="container">

      <div class="row">

        <div class="col-md-4">

          <div class="panel panel-primary">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#changesets" data-toggle="tab">Search Changesets</a>
              </li>
              <li>
                <a href="#contents" data-toggle="tab">Search File Contents</a>
              </li>
            </ul>

            <div class="tab-content">

              <!-- Changesets search params tab contents -->
              <div class="tab-pane active" id="changesets">

                <div class="panel panel-default">

                  <div class="panel-body">

                    <div class="input-group">
                      <span class="input-group-addon">Repository:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">Branch:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon bg-info">Message:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">Author:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>

                  </div>

                </div>

              </div>

              <!-- Contents search params tab contents -->
              <div class="tab-pane" id="contents">

                <div class="panel panel-default">

                  <div class="panel-body">

                    <div class="input-group">
                      <span class="input-group-addon">Repository:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">Branch:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon bg-info">Types:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon bg-info">Enums:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon bg-info">Functions:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon bg-info">Attributes:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon bg-info">Comments:</span>
                      <input type="text" class="form-control" placeholder="...">
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div style="text-align:center;">
              <button type="button" class="btn btn-default" ng-click="searchButtonClicked()">Search</button>
            </div>

            &nbsp;

          </div>

        </div>

        <!-- Search results -->
        <div class="col-md-8">

          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Search Results
                <span class="badge">{{searchResults.total}}</span>
              </h3>
            </div>

            <div class="panel-body">

              <div class="alert alert-danger" ng-show="searchError">
                Remote server is unavailable. Please check and try again.
              </div>

              <div class="panel panel-default" ng-repeat="hit in searchResults.hits">

                <div class="row">
                  <div class="col-sm-1 search-result-label"><strong>Repository:</strong></div>
                  <div class="col-sm-10">{{hit._source.repository}}</div>
                </div>
                <div class="row" ng-hide="hit._source.branch.length === 0">
                  <div class="col-sm-1 search-result-label"><strong>Branch:</strong></div>
                  <div class="col-sm-10">{{hit._source.branch}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-1 search-result-label"><strong>Author:</strong></div>
                  <div class="col-sm-10">{{hit._source.author}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-1 search-result-label"><strong>Date:</strong></div>
                  <div class="col-sm-4">{{hit._source.changeDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-1 search-result-label"><strong>Message:</strong></div>
                  <div class="col-sm-10"><p ng-bind-html="hit.highlight.message[0]"></p></div>
                </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </body>

</html>